@mq-xs-max: 767px;
@mq-sm-min: (@mq-xs-max+1px);
@mq-sm-max: 991px;
@mq-md-min: (@mq-sm-max+1px);
@mq-md-max: 1199px;
@mq-lg-min: (@mq-md-max+1px);

.fontRoboto{
	font-family: 'Roboto', sans-serif;
}

/*Colores*/
@red: #F70025;
@ice: #F7EFE2;
@orange1: #F25C00;
@orange2: #F9A603;
