[modulo=detalleAuto]{
	.icono{
		width: 100%;
	}
	
	.automovil{
		background-image: url("../img/automovil.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		background-position-y: bottom;
		
		color: white;
		
		border-bottom: 5px solid @rojo;
	}
		
	#listaTramites{
		.icono{
			height: 30px;
			width: 30px;
		}
		
		li{		
			background-position: center bottom;
			background-size: cover;
			background-repeat: no-repeat;
			
			height: 60px;
		}

	}
}