[modulo=solicitar]{
	.icono{
		width: 100%;
	}
	
	h4{
		color: @rojo;
		font-size: 14px;
		margin-top: 20px;
	}
	
	.tramite{
		background-size: cover;
		background-repeat: no-repeat;
		background-position-y: bottom;
		
		color: @rojo;
		//border-bottom: 5px solid @rojo;
		height: 100px;
		
		
		[campo=nombre]{
			background: rgba(255, 255, 255, .7);
			bottom: 0px;
			position: absolute;
			padding-left: 10px;
			padding-right: 10px;
			font-size: 20px;
		}
	}
	
	.tab-pane{
		p{
			font-size: 13px;
		}
		
		ul{
			margin-left: 0px;
			padding-left: 0px;
			margin-bottom: 80px;
			
			li{
				font-size: 12px;
				&[add="0"]{
					i.fa-check{
						display: none;
						position: absolute;
						right: 5px;
						top: 20px;
						color: @rojo;
					}
				}
				
				&[add="1"]{
					i{
						&.fa-check{
							position: absolute;
							right: 25px;
							top: 10px;
							display: block;
							color: @rojo;
						}
					}
				}
				
				i{
					&.fa-camera{
						position: absolute;
						right: 5px;
						top: 14px;
						display: block;
						color: @rojo;
						font-size: 16px;
					}
				}
			}
		}
		/*
		.documento{
			width: 45%;
			margin-left: 2.5%;
			margin-right: 2.5%;
			
			margin-top: 10px;
			margin-bottom: 10px;
			
			background: rgba(192, 57, 43, .7);
			padding-left: 5px;
			padding-right: 5px;
			color: white;
			.bordesRedondos(20px);
			
			@media only screen and (min-width: @mq-sm-min) {
				width: 30%;
				margin-left: 1.5%;
				margin-right: 1.5%;
			}
			
			img{
				height: 60px;
				margin-top: 20px;
			}
			
			[campo=nombre]{
				font-size: 9px;
				height: 30px;
			}
			
			.btn-link{
				color: white;
			}
		}
		*/
	}
		
	#listaTramites{
		.icono{
			height: 30px;
			width: 30px;
		}
		
		li{		
			background-position: center bottom;
			background-size: cover;
			background-repeat: no-repeat;
			
			height: 160px;
		}

	}
	
	#winFotos{
		.imagenes{
			max-height: 400px;
			overflow-y: scroll;
			
			img{
				width: 120px;
				margin: 10px;
			}
		}
	}
}