[modulo=tramites]{
	#listaTramites{
		.icono{
			height: 30px;
			width: 30px;
		}
		
		li{		
			background-position: center bottom;
			background-size: cover;
			background-repeat: no-repeat;
			
			height: 60px;
		}

	}
}